.wrapper {
    background-color: aquamarine;
    text-align: center;
    padding: 10px 10px;
    height: 500px;
    width: 400px;
}

.wrapper input {

    margin: auto;
    margin-top: 5px;
}

Input input {
    display: block;
}